@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
*{
    margin: 0px;
    scroll-behavior: smooth;
}
.initial-page{
    height: 100vh;
    background: linear-gradient(180deg ,#fde1ff,#e1ffea22 60%);
    display: flex;
    animation: appear linear;
    animation-timeline:view() ;
    animation-range: entry 0;
}
.left-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}
.left-container h2{
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}
.left-container p{
    color: #171717;
    font-size: 75px;
    font-weight: 700;
}
.hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.latest-collection-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background-color: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}

.right-container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-container img{
    background: transparent;
    border-radius: 50%;
}

/* products */
.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-height: 90vh;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0;

}
.popular h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.popular-item{
    
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr ; 
    margin: 50px 50px;
    gap: 50px;
}


/* offer css */
.offers{
    width: 75%;
    height: 60vh;
    display: flex;
    gap: 150px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 0px 150px;
    margin-bottom: 150px;
    background: linear-gradient(180deg ,#fde1ff 0%,#e1ffea22 60%);

    
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0;

 
}
.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offers-left h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.offers-left p{
    color: #171717;
    font-size: 18px;
    font-weight: 600;
}
.offers-left button{
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}
.offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
}
.offers-right img{
   max-height: 400px;
   max-width: 400px; 
    border-radius: 50%;

}